@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
  font-family: "Inter","Noto Sans JP", sans-serif;
  line-height: 1.8;
  background-color: #39ff14;
  padding: 0 1rem;
}


hr{
    color: #0000ff;
    width: 290px;
    margin: 0 auto;
    margin-top: 2rem;
}
/* hamburger or navi */
/* まず、モバイル前提（スマホ）のスタイルを書く */

/* ナビ・ハンバーガーの初期状態（スマホ想定） */
.hamburger {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 22px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2000;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #0000ff;
  margin: 5px 0;
  transition: .3s;
}
.main-nav{
    display: flex;
}

.header-menu{
    display: flex;
}
.header-menu img{
    width: 300px;
    height: auto;
}


footer{
    text-align: center;
}


/* スマホ */
@media (max-width: 768px) {
}


@media (min-width: 769px) {
.heading-large{
    font-size: 4rem;
}
.main-main,
.concept-concept,
.route-route,
.time-time,
.fare-fare,
.no-no{
    display: flex;
}
main img{
  width: 600px;
  height: auto;
}

}